= react_component("Game", player: PlayerSerializer.new(current_player, root: nil),
                          events: current_player.recent_events,
                          actions: current_player.available_actions)
