<div class="lead">

  <div class="title-card">
    <h1>Tavern Light</h1>
    <p>A dusty time-worn adventurer opens the tavern door.<br />She looks like she needs a drink.</p>
    <button {{action "startGame"}}>Serve a drink</button>
  </div>

</div>
