<div class="lead">

  <div class="title-card">
    <h1>Tavern Light</h1>
    <p>A time-worn adventurer rides into the night, drawn by the tavern light.</p>
    <button {{action "startGame"}}>Open up</button>
  </div>

</div>
