<div class="event">
  <div class="image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="content">
    {{#if player-event.character_name}}
      <h1 class="character-name">{{player-event.character_name}}</h1>
    {{/if}}
    <p class="detail">{{player-event.detail}}</p>
    <p class="dialogue">{{player-event.dialogue}}</p>

    <div class="actions">

    </div>
  </div>
</div>