<div class="event">
  <div class="event-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="event-content">
    <h1>{{character}}</h1>
    <p class="event-detail">The tavernkeep looks you up and down warily.</p>
    <p>Welcome, stranger. What'll you have?</p>
    <button>Ale</button>
    <button>Mead</button>
    <button>Stew</button>
    <button>Bread</button>
    <p class="event-detail"></p>
  </div>
</div>