<div id="tavern" class="player-location">

  <div class="navigation">
    {{game-nav}}
  </div>

  <div class="location-banner">
    <div class="location-name">
      <h1>{{attr.location.name}}</h1>
    </div>
  </div>

  <div class="game-interface">
    <div class="player-details">
      <div class="inner">
        {{player-card}}
      </div>
    </div>
    <div class="event-stream">
      {{welcome-event character=attr.character}}
    </div>
    <div class="misc-panels">
      misc
    </div>
  </div>
</div>
