@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'mixins/grid-settings';
@import 'bower_components/neat/app/assets/stylesheets/neat';
@import 'bower_components/bitters/app/assets/stylesheets/base';
@import 'mixins/slab';
@import 'mixins/cards';
@import 'mixins/events';
@import 'lead';
@import 'tavern';
@import 'nav';

body {
  @include type-system-slab;
  padding: 0;
  margin: 0;
}

.inner {
  padding: 5px;
}

.event {
  @include event;
}

.card {
  @include card;
}