<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Tavern</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Adventurers</a></li>
        <li class="nav-link logo">
          <a href="javascript:void(0)" class="logo">
            <img src="/assets/lantern-icon.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Dungeons</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Quests</a></li>
      </ul>
    </nav>
  </div>
</header>
