.story {
  position: relative;
}

.event {
  // border-bottom: $base-border;
  padding: 10px 0;

  &.new {
    display: none;
    &.initial-load {
      display: inherit;
    }
  }

  &.old {
    color: lighten($base-font-color, 50%)
  }

  .action {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;

    a {
      white-space: nowrap;
    }

    &.expanded {
      a {
        color: darken($action-color, 40%);
      }
    }

    &.disabled {
      a {
        color: $light-gray;
      }
    }
  }

  .landmarks-icon {
    font-size: 120%;
    vertical-align: middle;
    font-weight: bold;
  }

  &.attack {
    .detail {
      display: none;
    }
  }

  &.aggro {
    .detail {
      display: none;
    }
  }

  &.npc_death {
    .detail {
      display: none;
    }
  }

  &.mob_approach {
    .detail {
      display: none;
    }
  }

  &.entrance {
    .detail {
      display: none;
    }
  }

  &.resource {
    .detail {
      display: none;
    }
  }

}

.sub-actions {
  display: none;

  &.active {
    display: block;
  }
}
