.story {
  position: relative;
}

.event {
  border-bottom: $base-border;
  padding: 10px 0;

  &.old {
    color: lighten($base-font-color, 50%)
  }

  .action {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;

    a {
      white-space: nowrap;
    }

    &.expanded {
      a {
        color: darken($action-color, 40%);
      }
    }

    &.disabled {
      a {
        color: $light-gray;
      }
    }
  }
}

.sub-actions {
  display: none;
}
