body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.story {
  flex: 1;
}

#game {
  padding-left: $nav-bar-width;
  padding-top: $player-bar-height;
}

#navbar {
  position: fixed;
  top: $player-bar-height;
  left: 0;
  width: $nav-bar-width;
  height: 100%;
  // background: $white;

  a {
    display: block;
    width: 100%;
    // background: $dark-gray;
    // border-bottom: 1px solid darken($dark-gray, 5%);
    color: $dark-gray;
    font-size: 120%;
    text-align: center;

    i {
      padding: $nav-bar-width/2 - 7;
      display: block;
    }

    &.selected {
      background: $white;
      color: $blue;
      font-weight: bold;
    }

  }
}
