body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.story {
  flex: 1;
}

#game {
  padding-left: $nav-bar-width;
  padding-top: $player-bar-height;
}

#navbar {
  position: fixed;
  top: $player-bar-height;
  left: 0;
  width: $nav-bar-width;
  height: 100%;
  background: $dark-gray;

  a {
    display: block;
    width: 100%;
    height: $nav-bar-width;
    background: $dark-gray;
    border-bottom: 1px solid darken($dark-gray, 5%);
    color: $light-gray;
    font-size: 210%;
    text-align: center;

    &.selected {
      background: $white;
      color: $dark-gray;
      font-weight: bold;
    }

  }
}
