#player-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $player-bar-height;
  background: $light-gray;
  // color: $light-gray;
  padding-left: $nav-bar-width;

  .status-line {
    font-size: 75%;
    color: $medium-gray;
  }

  .stats {
    float: right;
  }

  .stat {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 75%;
    color: $medium-gray;
  }
}
